.userProfile-btn{
    display: flex;
    padding: 14px 18px;
    width: 305px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 40px;
    background: #0f8ba0;
    border: 1px solid #0f8ba0;

    &:hover {
      background-color: #fff;
          color: #0f8ba0
    }
  }
