.events-header-continer{
    display: flex;
    width: 1105px;
    height: 81px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-bottom: 1px solid #000;
}
