
.view-hall-container {
  position: relative;
  height: 100vh; /* Altura del viewport para el contenedor */
  overflow-y: auto; /* Permitir scroll vertical */
}

.view-hall-container::before {
  content: "";
  position: fixed; /* Fijo para que no se mueva al hacer scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/image42.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.title {
  display: flex;
  width: 1105px;
  height: 81px;
  padding-top: 50px;
  padding-left: 100px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  position: relative;

  h1 {
    color: var(--azul-oscuro-30, #1c1c24);
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 1140px;
      height: 2px;
      background-color: #000000;
      border-radius: 4px;
    }
  }
}

.cards-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 98px;
}

.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: row;
  width: 974px; 
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  justify-content: flex-end; 
  align-items: center;
  margin-bottom: 20px; 

  &:hover {
    transform: translateY(-5px);
  }

  .img-card {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  .text-card {
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 94px;
    align-items: baseline;

    .text-1,
    .text1 {
      p {
        margin: 5px;
        color: var(--azul-oscuro-30, #1c1c24);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.28px;
        text-transform: capitalize;

        &:first-of-type {
          font-weight: 600;
        }
      }
    }

    .date {
      color: var(--azul-oscuro-30, #1c1c24);
   
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.28px;
      text-transform: capitalize;
    }

    .pencil-and-number {
      display: flex;
      flex-direction: column; 
      gap: 49px;
      align-items: center; 
    }
    .hour {
        color: var(--azul-oscuro-30, #1C1C24);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.28px;
        text-transform: capitalize;
      }
      
    .number {
      height: 24px;
      padding: 7px 14px;
      background-color: #d93655; 
      color: var(--azul-oscuro-30, #1c1c24);
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.28px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px; 
    }
  }
}
