.mbsc-calendar {
  max-width: 390px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}


.mds-agenda-event-img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

.mds-agenda-event-title {
  font-weight: bold; 
  font-size: 16px; 
  margin-bottom: 5px; 
}

.mds-agenda-event-location {
  margin-right: 20px;
}

.mds-agenda-event-label {
  font-size: 12px; 
  color: #888; 
}

.mds-agenda-event-time {
  text-align: right; 
}


.mbsc-flex-1-1 {
  flex: 1 1 0; 
  min-width: 0; 
}

.mbsc-flex {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px; 
}
