.landing-continer {
    background: var(--color-grey-10, #fff);
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.start-landing {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin-top: 80px;
}

.samoo-heading {
    color: var(--azul-socuro-30, #1c1c24);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle-heading {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
}

.img-continer {
    display: flex;
    width: auto;
    height: 200px;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    flex-shrink: 0;
}

.img1-card,
.img3-card,
.img5-card {
    margin-top: 55px;
}

.discover-continer {
    width: 100%;
}

.discover-title {
    color: var(--azul-socuro-30, #1c1c24);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}

.continer-card-description {
    display: flex;

}

.speakers-continer,
.comments-continer {
    display: flex;
    width: 100%;
    height: 482px;
    padding: 64px 0px 16px 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;
    background: var(--azul-socuro-30, #1c1c24);
    margin-top: 100px;
}

.speakers-title {
    width: 434px;
    color: var(--blanco-60, #FFF);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.speaker-imgs {
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    flex-shrink: 0;
}

.speakers-imgs {
    display: flex;
    gap: 55px;
}

.speaker-image {
    width: 170px;
    height: 170px;
    border-radius: 20px;
}

.img1-speaker,
.img5-speaker {
    margin-top: 120px;
}

.img2-speaker,
.img4-speaker {
    margin-top: 60px;
}

.video-title {
    color: var(--azul-socuro-30, #1c1c24);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 60px;
}

.video-continer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.registration-continer {
    display: flex;
    width: 100%;
    height: 243px;
    padding: 50px 390px 6px 390px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color-gray-10, #fff);
}

.registration-title {
    color: var(--azul-socuro-30, #1c1c24);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.registration-text {
    color: var(--azul-oscuro-30, #1C1C24);
    text-align: center;
    font-family: 'DM Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin-top: 30px;
    width: fit-content;
}

.registration-btn {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    margin-top: 20px;
}

.companies-container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 100%;
    background: var(--azul-marino-10, #0f8ba0);
  }
  
  .companies-footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 100px;
  
  }
  
  .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 

