.meetings-view {
    padding: 1rem;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem;
    background: #fff;
    border-radius: 0.5rem;
    background-color: black;
    margin-bottom: 10px;
    margin-left: 0px; 
    margin-right: 0px; 
}

.filter-item {
    display: flex;
    gap: 0.5rem; 
    align-items: center; 
    background-color: black;
}

.filter-item label {
    font-weight: bold;
    color: white;
    margin-right: 0.5rem; 
    background-color: black;
}

.filter-item select, .filter-item input {
    flex: 1;
    padding: 0.5rem;
    color: white;
    border: 1px solid white;
    border-radius: 0.25rem;
    width: 100%; 
    max-width: 100%; 
    background-color: black;
}

#day {
    margin-left: auto; 
}

#meetings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.meeting {
    display: flex; 
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hour-column {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-column {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.meeting h2 {
    font-size: 1.25rem;
}

.meeting-details {
    flex: 1; 
    display: flex;
    flex-direction: column;
   padding: 7px 32px;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
   flex-shrink: 0;
   border-radius: 8px;
   border: 1px solid #a4bbc4;
   background: rgba(15, 139, 160, 0.50);
   color: #fff;
}


.meeting-details-booked {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1px solid #22ba87;
    border-radius: 0.5rem;
    background: #2cba8a;
    color: #fff;
}

.meeting-details-avilieable {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1px solid #fdac4e; 
    border-radius: 0.5rem;
    background: #fdac4e; 
}


.meeting-details p {
    margin: 1rem;
    font-size: 1rem;
    color: #fff;
}

.meeting-details-avilieable  p {
    margin: 1rem;
    font-size: 1rem;
    color: #fffefe;
}

.meeting-details-booked  p {
    margin: 1rem;
    font-size: 1rem;
    color: #fffefe;
}

.no-meeting {
    font-size: 1rem;
    color: #999;
    text-align: left;
}


@media (min-width: 600px) {
    .meetings-view {
        padding: 1rem;
    }

    #filters {
        justify-content: space-between;
        align-items: center; 
        padding: 1rem;
        margin-bottom: 1rem; 
        margin-left: 0px; 
        margin-right: 0px; 
    }

    .filter-item {
        flex: 1; 
    }

    #day {
        margin-left: 0; 
    }

    #meetings {
        margin: 0;
    }
}