.participants-body{
   font-family: "DM Sans";
}

.title-continer{
    align-self: stretch;
    margin-left: 50px;
}

.title-page{
    color: var(--Neutral-10, #486284);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 1px;
   
}

.btn-filters button{
    background-color: #fff;
    color: #486284;
    line-height: 24px;
    letter-spacing: 0.5px;
    border: 1px solid var(--Neutral-10, #486284);
    padding: 8px 20px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
}